database {
   driver: "{{ db.driver }}"
   sqlDialect="{{ db.sqlDialect }}"
   url: "jdbc:postgresql://{{ hostvars.dbserver.ansible_host }}/{{ db.name }}"
   username: {{ db.user }}
   password: {{ db.password }}
}

broker {
    jms {
        uri: "amqp://{{ rabbitmq.user }}:{{ rabbitmq.password }}@{{ hostvars.rabbitmq.ansible_host }}:5672"
        exchange: "coin.order.event"
        binding: "#"
    }
    rest {
       uri: "http://{{ hostvars.broker.ansible_host }}:{{ broker.api.port }}"
    }
}

strategy: [
    {
        identifier: Mario Bros
        className: "com.jellysource.coin.strategy.application.strategy.NinetyStrategy"
        tickers: ${sp100}
        unitsBack: 300
        schedule {
          cron: "0 58 15 ? * MON,TUE,WED,THU,FRI *"
          timezone: "America/New_York"
        }
        maxSlots: 20
        minimalSlotValue: 5000
        maxNewSymbolsPerDay: 1
    }
]


sp100: [
    "AAPL",
    "ABBV",
    "ABT",
    "ACN",
    "AGN",
    "AIG",
    "ALL",
    "AMGN",
    "AMZN",
    "AXP",
    "BA",
    "BAC",
    "BIIB",
    "BK",
    "BKNG",
    "BLK",
    "BMY",
    "C",
    "CAT",
    "CELG",
    "CL",
    "CMCSA",
    "COF",
    "COP",
    "COST",
    "CSCO",
    "CVS",
    "CVX",
    "DHR",
    "DIS",
    "DUK",
    "DWDP",
    "EMR",
    "EXC",
    "F",
    "FB",
    "FDX",
    "FOXA",
    "GD",
    "GE",
    "GILD",
    "GM",
    "GOOG",
    "GS",
    "HAL",
    "HD",
    "HON",
    "CHTR",
    "IBM",
    "INTC",
    "JNJ",
    "JPM",
    "KHC",
    "KMI",
    "KO",
    "LLY",
    "LMT",
    "LOW",
    "MA",
    "MCD",
    "MDLZ",
    "MDT",
    "MET",
    "MMM",
    "MO",
    "MRK",
    "MS",
    "MSFT",
    "NEE",
    "NFLX",
    "NKE",
    "NVDA",
    "ORCL",
    "OXY",
    "PEP",
    "PFE",
    "PG",
    "PM",
    "PYPL",
    "QCOM",
    "RTN",
    "SBUX",
    "SLB",
    "SO",
    "SPG",
    "T",
    "TGT",
    "TXN",
    "UNH",
    "UNP",
    "UPS",
    "USB",
    "UTX",
    "V",
    "VZ",
    "WBA",
    "WFC",
    "WMT",
    "XOM"
]