[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User={{ prometheus.user }}
Restart=on-failure

ExecStart=/opt/prometheus/prometheus \
  --config.file={{ prometheus.home }}/prometheus.yml \
  --storage.tsdb.path={{ prometheus.home }}/data

[Install]
WantedBy=multi-user.target