include "application"

# id of interacitve brokers trading account used for all orders
tws.account-id = "{{ tws.account }}"

# mapping symbols to primary exchange which will be used for tws contract
tws.primary-exchange-mapping = {
  # put here pairs in form SYMBOL = EXCHANGE for specifing primary exchange for specified symbol
  # can be empty (smart routing will be used)
  AAPL = NASDAQ
  ABBV = NYSE
  ABT = NYSE
  ACN = NYSE
  AGN = NYSE
  AIG = NYSE
  ALL = NYSE
  AMGN = NASDAQ
  AMZN = NASDAQ
  AXP = NYSE
  BA = NYSE
  BAC = NYSE
  BIIB = NASDAQ
  BK = NYSE
  BKNG = NASDAQ
  BLK = NYSE
  BMY = NYSE
  C = NYSE
  CAT = NYSE
  CELG = NASDAQ
  CL = NYSE
  CMCSA = NASDAQ
  COF = NYSE
  COP = NYSE
  COST = NASDAQ
  CSCO = NASDAQ
  CVS = NYSE
  CVX = NYSE
  DHR = NYSE
  DIS = NYSE
  DUK = NYSE
  DWDP = NYSE
  EMR = NYSE
  EXC = NYSE
  F = NYSE
  FB = NASDAQ
  FDX = NYSE
  FOXA = NASDAQ
  GD = NYSE
  GE = NYSE
  GILD = NASDAQ
  GM = NYSE
  GOOG = NASDAQ
  GS = NYSE
  HAL = NYSE
  HD = NYSE
  HON = NYSE
  CHTR = NASDAQ
  IBM = NYSE
  INTC = NASDAQ
  JNJ = NYSE
  JPM = NYSE
  KHC = NASDAQ
  KMI = NYSE
  KO = NYSE
  LLY = NYSE
  LMT = NYSE
  LOW = NYSE
  MA = NYSE
  MCD = NYSE
  MDLZ = NASDAQ
  MDT = NYSE
  MET = NYSE
  MMM = NYSE
  MO = NYSE
  MRK = NYSE
  MS = NYSE
  MSFT = NASDAQ
  NEE = NYSE
  NFLX = NASDAQ
  NKE = NYSE
  NVDA = NASDAQ
  ORCL = NYSE
  OXY = NYSE
  PEP = NASDAQ
  PFE = NYSE
  PG = NYSE
  PM = NYSE
  PYPL = NASDAQ
  QCOM = NASDAQ
  RTN = NYSE
  SBUX = NASDAQ
  SLB = NYSE
  SO = NYSE
  SPG = NYSE
  T = NYSE
  TGT = NYSE
  TXN = NASDAQ
  UNH = NYSE
  UNP = NYSE
  UPS = NYSE
  USB = NYSE
  UTX = NYSE
  V = NYSE
  VZ = NYSE
  WBA = NASDAQ
  WFC = NYSE
  WMT = NYSE
  XOM = NYSE
}

# event publishing config
# messages brokers implementing amqp protocol are only supported
api.publish.amqp.host = "{{ hostvars.rabbitmq.ansible_host }}"
api.publish.amqp.port = {{ rabbitmq.port }}
api.publish.amqp.user = "{{ rabbitmq.user }}"
api.publish.amqp.password = "{{ rabbitmq.password }}"

# host where tws or ib gateway is running
# tws.connection.host = "localhost"

# port which is open from tws or ib gateway
# can be seen / changed under global configuration API -> Settings -> Socket port
# tws.connection.port = 7497

# change client id if multiple instances are running
# use unique number per instance
# tws.connection.client-id = 0

# host name for rest api
api.rest.host = "{{ ansible_default_ipv4.address }}"

# port where rest api will run
api.rest.port = {{ broker.api.port }}

# if there are some special parameters in amqp uri, it is possible to overwirte whole uri
# api.publish.amqp.uri = "amqp://"${api.publish.amqp.user}":"${api.publish.amqp.password}"@"${api.publish.amqp.host}":"${api.publish.amqp.port}
# api.publish.amqp.exchange = "coin.order.event"
