[Unit]
Description=Job that runs the IBController for paper account
Requires=xvfb.service
After=xvfb.service

[Service]
Type=forking
Environment='DISPLAY=:0'
User={{ ib.user }}
ExecStart=/opt/IBController/IBControllerStart.sh
# Enable API via sending command to IBController server, try few times as TWS could not be ready
ExecStartPost=/bin/bash -c 'sleep 1; for (( i=0; i<5; i+=1)); do out=$(echo "ENABLEAPI" | nc {{ ib.server.ip }} {{ ib.server.port }}); if [[ $out == OK* ]]; then exit 0; fi; sleep 5; done; echo "$out"; exit 1'
Restart=always

[Install]
WantedBy=multi-user.target