[Unit]
Description=Job that runs the VNC server to allow remote access to an existing X session
Requires=xvfb.service
After=xvfb.service

[Service]
Type=forking
Environment=READONLY_PASSWORD={{ vnc.password.view_only }} FULLACCESS_PASSWORD={{ vnc.password.full }}
ExecStart=/usr/bin/x11vnc -ncache 10 -ncache_cr -viewpasswd ${READONLY_PASSWORD} -passwd ${FULLACCESS_PASSWORD} -display :0 -forever -shared -bg -noipv6
Restart=always

[Install]
WantedBy=multi-user.target