# Set Java that will be used
JAVA_HOME={{ dbserver.java_home }}

# JDBC driver (possible drivers are org.hsqldb.jdbc.JDBCDriver, org.postgresql.Driver)
LIQUIBASE_DRIVER={{ db.driver }}

# URL to target database (jdbc:postgresql://localhost/quotecenter)
LIQUIBASE_JDBC_URL=jdbc:postgresql://127.0.0.1/{{ db.name }}

# User with rights to do all DDL
LIQUIBASE_USERNAME={{ db.user }}

# Password for user
LIQUIBASE_PASSWORD={{ db.password }}

# relative path where are logs written (the logs are stored in $LIQUIBASE_HOME/log)
#LIQUIBASE_LOGFILE="coin-db.log"

# context, can be e.g. test, prod
#LIQUIBASE_CONTEXT="prod"