# spring.jooq.sql-dialect=Postgres
# spring.jooq.schema-name=PUBLIC
# spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://127.0.0.1/{{ db.name }}
spring.datasource.username={{ db.user }}
spring.datasource.password={{ db.password }}
logging.config=/etc/quotecenter/logback.xml